extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if user.Followings
        for following in user.Followings
          div= following.nick
    .followers.half
      h2 팔로워 목록
      if user.Followers
        for follower in user.Followers
          div= follower.nick

    container 
    form#hashtag-form(action='/profile' method='post')
        .input-group
            label(for='new-nick') 
            input#email(type='text' name='nick' required autofocus)
        button#join-btn.btn(type='submit') 닉네임 바꾸기

